body {
    font-family: 'Courier New';
}

#button {
    font-size: 20px;
    color: white;
    border-style: none;
    background-color: green;
    border-radius: 0%;
    margin: 20px;
    padding: 20px;
    position: relative;
    left: 680px;
}

#button:hover {
    background-color: red;
}

img {
    border: 1px solid black;
}

div {
    border: 2px solid black;
    padding: 10px;
    position: absolute;
    left: 270px;
}

h2 {
    text-align: center;
}
